*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding-left: 79px;

}

.header-title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-family: Ubuntu;
    font-weight: 700;
    line-height: 22px;
    width: 157px;
    margin: 18px 864px 18px 0px;
    text-decoration: none;
    transition: fill 0.3s;
}

.header-title:hover {
    color: rgb(34 110 71);
}

.header-svg {
    display: flex;
    min-width: 123px;
    justify-content: space-between;
    align-items: center;
    width: 126px;
    height: 24px;
    margin-right: 53px;
}

.header-svg svg {
    fill: white;
    transition: fill 0.3s;
}

.header-svg svg:hover #Vector {
    fill: rgb(34, 110, 71);
}

.header-text {
    min-width: 200px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    position: relative;
}

.header-text::before {
    content: " ";
    display: inline-block;
    width: 1px;
    height: 19px;
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: -3px;
    left: -20px;
}

.header-text a {
    transition: fill 0.3s;
    text-decoration: none;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.header-text a:hover {
    color: rgb(34 110 71);
}

.main {
    width: 444px;
    margin: 54px auto 74px;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    padding-top: 30px;
    padding-bottom: 38px;
}

.main-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-wrap::before {
    content: " ";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: rgba(60, 184, 120, 1);
    position: absolute;
    top: 0px;
    left: 0px;
}

.main-sign-up {
    color: #434343;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-right: 216px;
    font-family: Ubuntu;
    text-decoration: none;
}

.main-log-in {
    width: 39px;
    color: #3CB878;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    position: relative;
    font-family: Ubuntu;
    text-decoration: none;
}

.main-log-in:hover {
    color: #01813F;
}

.main-log-in::after {
    content: "";
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: #01813F;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all .25s ease;
}

.main-log-in:hover::after {
    transform: scaleX(1);
}

.main-btn-networks {
    width: 324px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.btn-networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.btn-networks::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.1);

    top: 50%;
    left: 55px;
    transform: translateY(-50%);
}

.btn-fb {
    width: 160px;
    height: 48px;
    background-color: rgba(48, 93, 184, 1);
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border-radius: 6px;
    font-family: Ubuntu;
    transition: fill 0.3s;
}

.btn-fb:hover {
    background-color: rgba(2, 34, 99, 1);
}

.btn-fb img {
    width: 24px;
    height: 24px;
    position: relative;

}

.btn-fb img:hover {
    background-color: rgba(2, 34, 99, 1);
}

.btn-fb ::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 28px;
    opacity: 0.5;
    background-color: rgba(10, 22, 47, 1);
}

.btn-google {
    width: 160px;
    height: 48px;
    background-color: rgba(223, 74, 50, 1);
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border-radius: 6px;
    font-family: Ubuntu;
    transition: fill 0.3s;
}

.btn-google:hover {
    background-color: rgba(171, 31, 9, 1);
}

.btn-google img {
    width: 30px;
    height: 19px;
}

.btn-google img:hover {
    background-color: rgba(171, 31, 9, 1);
}


.or {
    color: #848484;
    position: relative;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
    width: 15px;
    height: 14px;
    margin: 31px auto;
}

.or::before {
    content: "";
    display: inline-block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 7px;
    right: 17px;
}

.or::after {
    content: "";
    display: inline-block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 7px;
    left: 17px;

}

form input {
    display: block;
    border: 1px solid #F2F2F2;
}

form input[type="text"] {
    width: 324px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    background-color: rgb(255 255 255);
    margin: 0 auto 20px;
    text-indent: 20px;
}


form input[type="email"] {
    width: 324px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    background-color: rgb(255 255 255);
    margin: 0 auto 20px;
    text-indent: 20px;
}

form input[type="password"] {
    width: 324px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    background-color: rgb(255 255 255);
    margin: 0 auto 20px;
    text-indent: 20px;
}



form input[type="checkbox"] {
    display: none;
    position: relative;
    transition: fill 0.3s;
}

form input[type="checkbox"]+label a {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
    position: relative;
}

form input[type="checkbox"]+label a:hover {
    color: #01813F;
}

form input[type="checkbox"]+label a:hover::after {
    content: "";
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: #01813F;
    position: absolute;
    bottom: 0;
    left: 0;
}

.check {
    width: 14px;
    height: 13px;
    border: 1px solid rgb(242 242 242);
    display: inline-block;
    position: relative;
}


.check-label {
    display: inline-block;
    position: relative;
    margin-left: 62px;
    margin-bottom: 20px;
}

.checkbox:checked+.check-label::before {
    content: "";
    display: inline-block;
    background-image: url("../images/Vector 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    height: 11px;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.check-text {
    display: inline-block;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px
}

form input[type="button"] {
    display: block;
    width: 324px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    background-color: rgba(60, 184, 120, 0.8);
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 0 auto 20px;
    transition: fill 0.3s;
}

form input[type="button"]:hover {
    background-color: rgba(1, 129, 63, 1);
}

input::placeholder {
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-left: 20px;
}

form input[type="text"]:focus {
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    border: 1px solid #F2F2F2;
    outline: none;
}

form input[type="email"]:focus {
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    border: 1px solid #F2F2F2;
    outline: none;
}

form input[type="password"]:focus {
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    border: 1px solid #F2F2F2;
    outline: none;
}